<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p>Tema: <%= quiz.tema %></p><br>
  Pregunta: <%= quiz.pregunta %> <p>
  <input type="text" name="respuesta" placeholder="Responda aqu&iacute;" />
 <!-- input type="text" name="respuesta" placeholder="contesta algo" onfocus="this.placeholder = ''" onblur="this.placeholder = 'respuesta'" / -->
     <input type="submit" value="Enviar">
</form>
<br>
<p>
    <a href="/quizes/<%= quiz.id %>/comments/new">
        <button>Nuevo comentario</button>
    </a>
</p>
<br>
<p><strong>Comentarios:</strong></p>
<% for (var index in quiz.Comments) { %>
    <p>- <%= quiz.Comments[index].texto %></p>
<% } %>
<br>
